<!doctype html>

<html lang="pt-br">
    <head> 
        
        <title>E-News</title>
            <meta charset="utf-8">        
            <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        <!-- Bootstrap CSS -->
            <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous"> 
        
        </head>
    <body>
        <header>
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
      
             <a class="navbar-brand" mb-0 href="enews.html">E-News</a>
             
              <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                  <a class="nav-link" href="login.html">Logar</a>  
                </li>
              </ul> 
          
             <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSite">
                 <span class="navbar-toggler-icon"></span>
             </button>
            
             <div class="collapse navbar-collapse" id="navbarSite">
                                                                   
              <form class="form-inline">
                <input class="form-control mt-2 mb-2 ml-2 mr-2" list="historico" type="search" placeholder="Buscar">
                <button class="btn btn-dark" type="submit">Pesquisar</button>    
                  
                    <datalist id="historico">
                        <option value="LOL"></option>
                        <option value="CSGO"></option>
                        <option value="Fortnite"></option> 
                    </datalist>
                  
              </form>
          </div>
        </nav>
        </header>
    <h2>Resultados da Pesquisa</h2>

<div *ngFor="let product of products">

  <h3>
    <a href="visualizapublicacao.html" [title]="publicacao.nome + ' details'">
      Título da Publicação
    </a>
  </h3>

  <p *ngIf="publicacao.description">
    Descrição da publicação
  </p>

</div>
        
    </body>
   
        <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
            <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
            <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
            
</html>